/* =01 CSS Variables */
:root {
  --color-primary: #ff7f22;      /* Overwatch Orange */
  --color-secondary: #ffd2b2;    /* Overwatch Highlight */
  --color-tertiary: #7289da;     /* Discord Blue */
  --color-background: #404d70;   /* Back Blue */
  --color-surface: #d7f0f1;      /* Font Blue */
  --color-text: #f0f0f0;         /* White */
  --color-accent: #fcc7db;       /* Light Pink */
  --color-success: #2ecc71;      /* Green */
  --color-warning: #ff7f22;      /* Overwatch Orange */
  --color-error: #e74c3c;        /* Red */
}
